body
{
	background-color: red;
}
h1{
	color:blue;
	font-size: 30px;
	text-align: center;
    margin-bottom: 5px;
    text-decoration: underline;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #dddddd;
}
li
{
	float: left;	
	margin-right: : 50px;
	 
}
li a
{
	font-size: 20px;
	display: block;
	padding: 8px;
	border-right: 1px solid #bbb;
}
li:last-child{
	border-right: none;
}
li a:hover{
	color: white;
	background-color: pink;
}
li a:active{
	color:black;
	background-color:pink; 
}

